<!-- NAVBAR -->
<nav class="bg-[#d3c7b6] text-[#756c59] fixed top-0 w-full z-50 shadow-sm">
    <div class="max-w-7xl mx-auto px-6 py-3 flex items-center justify-between">
  
      <!-- Logo -->
      <a 
      class="text-3xl md:text-4xl text-[#756c59] tracking-wide flex items-center gap-2 hover:opacity-80 transition cursor-pointer"
      style="font-family: 'Crafty Girls', cursive;"
      routerLink="/"
      >
        Handmade Shop
      </a>
  
      <!-- Search -->
      <form class="flex gap-2">
        <input 
          type="search" 
          placeholder="Buscar..." 
          class="px-3 py-1 rounded-lg border border-[#bfc4ab] bg-[#efe8da] focus:outline-none focus:ring-2 focus:ring-[#8d917b]"
        >
        <button class="px-3 py-1 bg-[#8d917b] text-white rounded-lg hover:bg-[#756c59] transition">
          Buscar
        </button>
      </form>
  
      <!-- Links -->
      <div class="flex gap-6">
        <a class="hover:opacity-80 transition cursor-pointer" [routerLink]="['/cart/summary']"> Carrito </a>
        <a class="hover:opacity-80 transition cursor-pointer" [routerLink]="['/user/login']"> Login </a>
      </div>
  
    </div>
  </nav>