<!-- NAVBAR -->
<nav class="bg-[#d3c7b6] text-[#756c59] fixed top-0 w-full z-50 shadow-sm">
  <div class="max-w-7xl mx-auto px-6 py-3 flex items-center justify-between">

    <!-- Logo -->
    <a class="text-3xl md:text-4xl text-[#756c59] tracking-wide flex items-center gap-2 hover:opacity-80 transition cursor-pointer" style="font-family: 'Crafty Girls', cursive;">
      Handmade Shop
    </a>

    <!-- Search -->
    <form class="flex gap-2">
      <input 
        type="search" 
        placeholder="Buscar..." 
        class="px-3 py-1 rounded-lg border border-[#bfc4ab] bg-[#efe8da] focus:outline-none focus:ring-2 focus:ring-[#8d917b]"
      >
      <button class="px-3 py-1 bg-[#8d917b] text-white rounded-lg hover:bg-[#756c59] transition">
        Buscar
      </button>
    </form>

    <!-- Links -->
    <div class="flex gap-6">
      <a class="hover:opacity-80 transition cursor-pointer"> Carrito </a>
      <a class="hover:opacity-80 transition cursor-pointer"> Login </a>
    </div>

  </div>
</nav>

<!-- CONTENIDO -->
<div class="flex-grow bg-[#efe8da] pt-24 px-6">

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">

    <div *ngFor="let p of products" class="group bg-white rounded-2xl shadow-sm hover:shadow-md transition overflow-hidden">

      <!-- Imagen + overlay -->
      <div class="relative overflow-hidden">

        <img 
          src="{{ p.urlImage }}" 
          class="w-full h-56 object-cover transition duration-500 group-hover:scale-110"
        />

        <!-- Overlay -->
        <div class="absolute inset-0 bg-[#756c59]/40 opacity-0 group-hover:opacity-100 transition flex items-center justify-center">

          <button 
            class="bg-white text-[#756c59] hover:bg-[#efe8da] px-4 py-2 rounded-xl font-medium shadow hover:bg-white transition">
            Ver producto
          </button>

        </div>

      </div>

      <!-- Info -->
      <div class="p-4">

        <h2 class="text-sm font-medium text-[#756c59] leading-snug">
          {{ p.name }}
        </h2>

        <p class="text-[#8d917b] font-semibold mt-2">
          {{ p.price | number:'1.2-2' }} €
        </p>

      </div>

    </div>

  </div>

</div>


<!-- FOOTER -->
<footer class="bg-[#756c59] text-[#efe8da] text-center py-6 mt-10">
  <p>© Handmade Shop 2026</p>
</footer>